doctype html
// views/login.ejs
html
  head
    meta(charset='utf-8')
    title Node Authentification
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    // load bootstrap css
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    // load fontawesome  

    h1 Menu administrateur.
    br
    button.btn.btn-primary.btn-lg(type='button') Modifier la "Home"
    br
    button.btn.btn-primary.btn-lg(type='button') Modifier la "Demeure"
    br
    button.btn.btn-primary.btn-lg(type='button') Modifier les "séjours" 
    br
    button.btn.btn-primary.btn-lg(type='button') Modifier "aux alentours"
    br
    button.btn.btn-primary.btn-lg(type='button') Modifier "nous contacter"
