doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css')
    link(rel='stylesheet', href='https://daneden.github.io/animate.css/animate.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      a.btn.btn-primary(href='/admin', role="button") Retour    
      .row
        .panel.panel-primary
          .panel-heading Alentours
            a.btn.btn-success.pull-right(href="/admin/alentours/add" role="button") Ajouter Alentours
          .panel-body
            table.table.table-condensed.table-bordered
              thead
                tr
                  th Title
                  th Description
                  th Url
                  th Actions
              tbody
                each alentour, i in alentours
                  tr
                    td!= alentour.title
                    td!= alentour.description
                    td= alentour.urlImage
                    td 
                      a.btn.btn-warning(href='/admin/alentours/delete/' + alentour._id) Supprimer    
