doctype html
html
  head
    meta(charset='utf-8')
    title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/lumen/bootstrap.min.css')
    link(rel='stylesheet', href='https://daneden.github.io/animate.css/animate.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      .row
        .panel.panel-primary
          .panel-heading Image 
            a.btn.btn-success.pull-right(href="/admin/chambre/add/" role="button") Ajouter Chambre
          .panel-body
            table.table.table-condensed.table-bordered
              thead
                tr
                  th Lien
                  th Actions
              tbody
                each 
                  tr
                    td= ""
                    td 
                      a.btn.btn-warning(href='/admin/chambre/delete/' + "") Supprimer
