doctype html
html
  head
    meta(charset='utf-8')
    title Admin chambres
  body
    form#uploadForm(ref='uploadForm', action='http://localhost:8000/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='submit', value='Upload!')
    br
    form#uploadForm(ref='uploadForm', action='http://localhost:8000/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='submit', value='Upload!') 
    br  
    form#uploadForm(ref='uploadForm', action='http://localhost:8000/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='submit', value='Upload!')
    br
    form#uploadForm(ref='uploadForm', action='http://localhost:8000/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='submit', value='Upload!')        
    br
    form#uploadForm(ref='uploadForm', action='http://localhost:8000/upload', method='post', enctype='multipart/form-data')
      input(type='file', name='sampleFile')
      input(type='submit', value='Upload!')  
