head
  include ./head
h1 Connexion
  form.form-inline
    .form-group
      label.sr-only(for="exampleInputEmail3") Email 
      |     
      input#exampleInputEmail3.form-control(type="email", placeholder="Email")
    |  
    .form-group
      label.sr-only(for="exampleInputPassword3") Mot de passe
      |     
      input#exampleInputPassword3.form-control(type="password", placeholder="Mot de passe")
    |   
    button.btn.btn-default(type="sumit") Connexion
