doctype html

html(lang='en')
  head
    include ./head
contact
  |     
  title Les sejours
  |   
  body
  
    include ./header
    br
    |     
    br
    body(style='background-color:#f0f0f0;')
      section#contact(style='')
        .container
          .row
            iframe.col-xs-6(src='https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/LaDemeureDeLarche&tabs=timeline&width=520&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='500', height='260', style='border:none;overflow:hidden', scrolling='no', frameborder='0', allowtransparency='true')
            #mapContact.googleMap
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11462.599877848186!2d4.084496980414146!3d44.09057888849195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b441922353a783%3A0x3205bbe07d198b45!2s779+Chemin+de+la+Prairie%2C+30380+Saint-Christol-l%C3%A8s-Al%C3%A8s!5e0!3m2!1sfr!2sfr!4v1480501637633', width='500', height='260', frameborder='0', style='border:0', allowfullscreen='')
            .about_our_company(style='margin-bottom: 20px;')
              h1(style='color:#fff;') Contactez-nous.
              .titleline-icon
              p(style='color:#fff;') Vous pouvez nous envoyer un mail. Nous repondrons dans les plus bref delais.
          .row
            .col-md-8
              form#contactForm(name='sentMessage', novalidate='', action='/contact', method='POST')
                .row
                  .col-md-6
                    .form-group
                      input#name.form-control(name='name',type='text', placeholder='Your Name ...', required, data-validation-required-message='Please enter your name.')
                      p.help-block.text-danger
                    .form-group
                      input#email.form-control(name='email',type='email', placeholder='Your Email ...', required, data-validation-required-message='Please enter your email address.')
                      p.help-block.text-danger
                    .form-group
                      input#phone.form-control(name='tel',type='text', placeholder='Your Phone ...', required, data-validation-required-message='Please enter your phone number.')
                      p.help-block.text-danger
                  .col-md-6
                    .form-group
                      textarea#message.form-control(name='message',placeholder='Your Message ...', required, data-validation-required-message='Please enter a message.')
                      p.help-block.text-danger
                  .clearfix
                  .col-lg-12.text-center
                    #success
                    button.btn.btn-xl.get(type='submit') Send Message
            .col-md-4
              p(style='color:#fff;')
                strong
                  i.fa.fa-map-marker
                  |  Address
                br
                |                             La Demeure de l’Arche, Gite et chambres d’hôtes dans le Gard, 779 chemin de la prairie, 30380 Saint-Christol les Alès (France)
              p(style='color:#fff;')
                strong
                  i.fa.fa-phone
                  |  Phone Number
                br
                |                             04.66.56.58.18 (+33 international)
              p(style='color:#fff;')
                strong
                  i.fa.fa-envelope
                  |   Email Address
                br
                |                             reservation@lademeuredelarche.com
              p
            br
          //- .row
          //-   iframe(src='https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/LaDemeureDeLarche&tabs=timeline&width=520&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='100%', height='520', style='border:none;overflow:hidden; margin: 20', scrolling='no', frameborder='0', allowtransparency='true')
            
script.
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
script.
  function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  scrollwheel: false,
  zoom: 8
  });
  }
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')

include ./footer
