doctype html

html(lang='en')
  head
    include ./head
contact
  |     
  title Les sejours
  |   
  body
  
    include ./header
    br
    |     
    br
    body(style='background-color:#f0f0f0;')
      section#contact(style='')
        .container
          .row
            .fb-page(data-href='https://www.facebook.com/LaDemeureDeLarche', data-width='380', data-hide-cover='false', data-show-facepile='false', data-show-posts='false')
            #map
            .about_our_company(style='margin-bottom: 20px;')
              h1(style='color:#fff;') Contactez-nous.
              .titleline-icon
              p(style='color:#fff;') Vous pouvez nous envoyer un mail. Nous repondrons dans les plus bref delais.
          .row
            .col-md-8
              form#contactForm(name='sentMessage', novalidate='')
                .row
                  .col-md-6
                    .form-group
                      input#name.form-control(type='text', placeholder='Your Name ...', required='', data-validation-required-message='Please enter your name.')
                      p.help-block.text-danger
                    .form-group
                      input#email.form-control(type='email', placeholder='Your Email ...', required='', data-validation-required-message='Please enter your email address.')
                      p.help-block.text-danger
                    .form-group
                      input#phone.form-control(type='tel', placeholder='Your Phone ...', required='', data-validation-required-message='Please enter your phone number.')
                      p.help-block.text-danger
                  .col-md-6
                    .form-group
                      textarea#message.form-control(placeholder='Your Message ...', required='', data-validation-required-message='Please enter a message.')
                      p.help-block.text-danger
                  .clearfix
                  .col-lg-12.text-center
                    #success
                    button.btn.btn-xl.get(type='submit') Send Message
            .col-md-4
              p(style='color:#fff;')
                strong
                  i.fa.fa-map-marker
                  |  Address
                br
                |                             La Demeure de l’Arche, Gite et chambres d’hôtes dans le Gard, 779 chemin de la prairie, 30380 Saint-Christol les Alès (France)
              p(style='color:#fff;')
                strong
                  i.fa.fa-phone
                  |  Phone Number
                br
                |                             04.66.56.58.18 (+33 international)
              p(style='color:#fff;')
                strong
                  i.fa.fa-envelope
                  |   Email Address
                br
                |                             reservation@lademeuredelarche.com
              p
            br
          //- .row
          //-   iframe(src='https://www.facebook.com/plugins/page.php?href=https://www.facebook.com/LaDemeureDeLarche&tabs=timeline&width=520&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId', width='100%', height='520', style='border:none;overflow:hidden; margin: 20', scrolling='no', frameborder='0', allowtransparency='true')
            
script.
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
script.
  function initMap() {
  // Create a map object and specify the DOM element for display.
  var map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: -34.397, lng: 150.644},
  scrollwheel: false,
  zoom: 8
  });
  }
script(src='https://maps.googleapis.com/maps/api/js?callback=initMap', async='', defer='')

include ./footer
