doctype html

html(lang='en')
  head
    include ./head
demeure
  |     
  title Demeure

  body(style='background-color:#fcfcfc;!important;')

    include ./header
    br
    |   
    br
    | 
    .container
      h2.titreDemeure NOTRE DEMEURE
      | &#x9;
      p.descriptionDemeure
      
        strong Françoise et Louis

        |  vous accueille chaleureusement dans leur somptueuse demeure situ&eacute;e &agrave; peine &agrave; 5 km d&apos;Al&egrave;s dans le sud de la France.
        br
        | Notre demeure dispose d&apos;une piscine de 25 m&egrave;tres dans un somptueux parc ombrag&eacute; de 2 hectares. 
        br
        | Nos chambres,d&eacute;cor&eacute;es avec go&ucirc;t et raffinement, sont dot&eacute;es chacune d&apos;une terrasse privative ainsi qu&apos;une t&eacute;l&eacute;vision &agrave; &eacute;cran plat,s
        |  une bouilloire &eacute;lectrique et 
        strong une connexion Wi-Fi gratuite
        | .
        br
        |   Vous adorerez notre petit-d&eacute;jeuner continental avec des viennoiseries, des confitures &quot;maison&quot; et des fruits frais.
        br
        |  Vous pourrez &eacute;galement demander un repas fait maison ou aller au restaurant, le plus proche &eacute;tant situ&eacute; &agrave; 2 km.
        br
        |   Venez vous divertir en jouant au 
        strong ping-pong
        | , 
        strong billard
        | , 
        strong baby-foot
        | , 
        strong p&eacute;tanque
        |  et m&ecirc;me jouer au 
        strong tennis
        | .
        br
        | &#x9;Des conditions id&eacute;ales pour que votre sejour soit inoubliable...
    br
    br
    br
    header
      .container
        .sync
          .edit
            .sync-container
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
            // sync container
          // edit
          .edit
            .sync-container
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.nine
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
            // sync container
          // edit
          .edit
            .sync-container
              .element.nine
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.three
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.eight
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.four
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.five
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.six
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.seven
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.one
                p
              | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
              .element.two
                p
            // sync container
          // edit
          button.next.slide next
          | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
          button.prev.slide prev
          //
            <div class="owl">
            <button class="out"></button>
            <button class="out"></button>
            <button class="out"></button>
            </div>
        // sync
    // header
    //- br
    //- br
    //- br      
    section#demeureEquipements.container-fluid
      .row
        #Equip.container
          .row
            #titreEquipement.col-md-12.col-lg-12
              h1 Equipements et loisirs
          |           
          #moduleEquip.row
            #equipement.col-sm-6.col-md-6.col-lg-6
              img(src='img/demeure/piscine.jpg')
            |           
            #equipement.col-sm-6.col-md-6.col-lg-6
              h2 La Piscine
              |           
              p
                | Dimension de 25&times;10 m.
                br
                |             Enti&egrave;rement refaite aux&nbsp;normes de s&eacute;curit&eacute;.
                br
                |             Cl&ocirc;tur&eacute;e, elle poss&egrave;de une&nbsp;salle de bain privative, ainsi qu&rsquo;une&nbsp;cuisine d&rsquo;ext&eacute;rieur.&nbsp;
                br
                |             Jeux nautiques et bou&eacute;es sont &eacute;galement &agrave; votre disposition. 
                br
                |             L&rsquo;&eacute;t&eacute;, un&nbsp;&eacute;clairage nocturne&nbsp;permet &eacute;galement d&rsquo;en profiter &agrave; tout moment.
          |   
          #moduleEquip.row
            #equipement.col-sm-6.col-md-6.col-lg-6
              h2 Le Jardin
              |       
              p Parc arbor&eacute; de deux hectares &eacute;quip&eacute; pour de nombreux&nbsp;jeux d&rsquo;ext&eacute;rieur.
            |       
            #equipement.col-sm-6.col-md-6.col-lg-6
              img(src='img/demeure/jardinhiver.jpg')
          |   
          #moduleEquip.row
            #equipement.col-sm-6.col-md-6.col-lg-6
              img(src='img/demeure/tennis.jpg')
            |       
            #equipement.col-sm-6.col-md-6.col-lg-6
              h2 Jeux d&apos;ext&eacute;rieur
              |       
              p
                | Court de tennis&nbsp;ferm&eacute;, d&rsquo;un filet de&nbsp;badminton, d&rsquo;une table de ping-pong, ou encore d&rsquo;un&nbsp;boulodrome et des cages de buts pour le&nbsp;football.
          |   
          #moduleEquip.row
            #equipement.col-sm-6.col-md-6.col-lg-6
              h2 Salle de Jeux
              |       
              p
                | La salle de r&eacute;ception peut accueillir une vingtaine de personnes pour&nbsp;vos soir&eacute;es.
                | Elle dispose d&rsquo;une&nbsp;table de billard&nbsp;fran&ccedil;ais pour les amateurs, et d&rsquo;un&nbsp;babyfoot.&nbsp;
                br
                | Vous trouverez &eacute;galement sur place des&nbsp;jeux de soci&eacute;t&eacute;&nbsp;pour toute la famille.
            |       
            #equipement.col-sm-6.col-md-6.col-lg-6
              img(src='img/demeure/Sallebillard.png')

|   
include ./footer
