doctype html

html(lang='en')
  head
    include ./head
demeure
  |     
  title Les sejours
  body
    include ./header
    br
    |   
    br
    |   
    .container
            #moduleEquip.row
                #equipement.col-md-12.col-lg-12
                    h1 Equipements et loisirs
                |   
                #moduleEquip.row
                    #equipement.col-sm-6.col-md-6.col-lg-6
                        img(src='img/demeure/piscine.jpg')
                    |   
                    #equipement.col-sm-6.col-md-6.col-lg-6
                        h2 La Piscine
                        |   
                        p
                            | Dimension de 25&times;10 m.
                            br
                            |       Enti&egrave;rement refaite aux&nbsp;normes de s&eacute;curit&eacute;.
                            br
                            |       Cl&ocirc;tur&eacute;e, elle poss&egrave;de une&nbsp;salle de bain privative, ainsi qu&rsquo;une&nbsp;cuisine d&rsquo;ext&eacute;rieur.&nbsp;
                            br
                            |       Jeux nautiques et bou&eacute;es sont &eacute;galement &agrave; votre disposition. 
                            br
                            |       L&rsquo;&eacute;t&eacute;, un&nbsp;&eacute;clairage nocturne&nbsp;permet &eacute;galement d&rsquo;en profiter &agrave; tout moment.
            #moduleEquip.row
                #equipement.col-sm-6.col-md-6.col-lg-6
                    h2 Le Jardin
                    |     
                    p Parc arbor&eacute; de deux hectares &eacute;quip&eacute; pour de nombreux&nbsp;jeux d&rsquo;ext&eacute;rieur.
                |     
                #equipement.col-sm-6.col-md-6.col-lg-6
                    img(src='img/demeure/jardinhiver.jpg')
            #moduleEquip.row
                #equipement.col-sm-6.col-md-6.col-lg-6
                    img(src='img/demeure/tennis.jpg')
                |     
                #equipement.col-sm-6.col-md-6.col-lg-6
                    h2 Jeux d&apos;ext&eacute;rieur
                    |     
                    p
                        | Court de tennis&nbsp;ferm&eacute;, d&rsquo;un filet de&nbsp;badminton, d&rsquo;une table de ping-pong, ou encore d&rsquo;un&nbsp;boulodrome et des cages de buts pour le&nbsp;football.
            #moduleEquip.row
                #equipement.col-sm-6.col-md-6.col-lg-6
                    h2 Salle de Jeux
                    |     
                    p
                        | La salle de r&eacute;ception peut accueillir une vingtaine de personnes pour&nbsp;vos soir&eacute;es.
                        | Elle dispose d&rsquo;une&nbsp;table de billard&nbsp;fran&ccedil;ais pour les amateurs, et d&rsquo;un&nbsp;babyfoot.&nbsp;
                        br
                        | Vous trouverez &eacute;galement sur place des&nbsp;jeux de soci&eacute;t&eacute;&nbsp;pour toute la famille.
                |     
                #equipement.col-sm-6.col-md-6.col-lg-6
                    img(src='img/demeure/Sallebillard.png')

|   
include ./footer
