footer
  .container.footerbox
      .row(style='text-align:center;')
      // Footer ----------
      footer.footer-bs
        .row
          .col-md-5.footer-brand.animated.fadeInLeft
            h3 Transports:
            hr
            p
              b Aéroports:
              |  Nîmes (38 km) Montpellier (75 km).
              br
              b Trains:
              |  Gare de Nîmes, Gare d’ Alès.
              br
              b Voiture:
              |  Parking privé sécurisé sur place.
              br
              b Commerces:
              |  2 km.
              br
              b Restaurants:
              |  2 km
              br
              b Mer:
              |  70 Km.
              br
            p © 2016 Wild Code School, All rights reserved
            hr
            a(href='https://twitter.com/TechInChartres', target='_blank')
              img.footer_socialIcon(src='img/twitter.png')
            a(href='https://www.facebook.com/techinchartres/?fref=ts', target='_blank')
              img.footer_socialIcon(src='img/facebook.png')
            b Mail: reservation@lademeuredelarche.com
          .col-md-3.footer-nav.animated.fadeInUp
            h3 Menu
            hr
            .col-md-8
              ul.pages
                li
                  a(href='#') La Demeure
                li
                  a(href='#') Séjours
                li
                  a(href='#') Au alentours
                li
                  a(href='#') Livre d'Or
                li
                  a(href='#') Nous Contacter
                li
                  a(href='#') Reservation
          .col-md-4.footer-social.animated.fadeInDown
            h3 Infos
            hr
            .googleMap
              iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11462.599877848186!2d4.084496980414146!3d44.09057888849195!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b441922353a783%3A0x3205bbe07d198b45!2s779+Chemin+de+la+Prairie%2C+30380+Saint-Christol-l%C3%A8s-Al%C3%A8s!5e0!3m2!1sfr!2sfr!4v1480501637633', width='340', height='250', frameborder='0', style='border:0', allowfullscreen='')
