head
  meta(charset="utf-8")
  title La Demeure de l'Arche
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
  link(rel='stylesheet', href='css/bootstrap.min.css')    
  link(rel='stylesheet', href='css/navbar.css') 
  link(rel="stylesheet", href="css/home.css")   
  link(rel='stylesheet', href='css/modules.css')
  link(rel='stylesheet', href='css/set1.css')   
  link(href='fonts/font-awesome.min.css', rel='stylesheet')   
  link(rel="stylesheet", href="css/style.css")
