<<<<<<< HEAD
meta(charset="utf-8")
title La Demeure de l'Arche
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='stylesheet', href='../public/css/bootstrap.min.css')    
link(rel='stylesheet', href='../public/css/navbar.css')    
link(rel='shortcut icon', href='fonts/ico/favicon.png')    
link(href='../public/fonts/font-awesome.min.css', rel='stylesheet')   
link(href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic', rel='stylesheet', type='text/css')   
link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet') 
link(href='https://fonts.googleapis.com/css?family=Fira+Sans', rel='stylesheet')
=======
meta(charset='utf-8')
title La demeure de l'Arche
link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
//link(href='/css/style.css')
>>>>>>> cdeccd057b4d1a8400d02a11a7ff85ed60a38d94
