meta(charset='utf-8')
title La demeure de l'Arche
link(rel="stylesheet", href="css/style.css")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
//link(href='/css/style.css')
