<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/home.css">
    <link rel="shortcut icon" href="fonts/ico/favicon.png">
    <link href="../public/fonts/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
      <div id="logo" class="row">
          <div class="col-lg-12"><img class="img-responsive center-block" src="../public/img/HEADER-HOME4.png">
              <h3>Chambres d'hôtes et gîte aux portes des Cévennes</h3>
          </div>
      </div>
      <div class="container">
      <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <div class="container-fluid">
                  <div class="row">
                      <nav id="cbp-hrmenu" class="cbp-hrmenu">
                          <ul>
                              <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                              <li><a class="hvr-sweep-to-right" href="#">La demeure</a></li>
                              <li>
                                  <a class="hvr-sweep-to-right" href="#">Séjours<b class="caret"></b></a>
                                  <div class="cbp-hrsub">
                                      <div class="cbp-hrsub-inner center-block">
                                          <div><a href="#"><h4>Chambres</h4></a></div>
                                          <div><a href="#"><h4>Suites</h4></a></div>
                                          <div><a href="#"><h4>L'Appart</h4></a></div>
                                      </div>  <!-- /cbp-hrsub-inner -->
                                  </div><!-- /cbp-hrsub -->
                              </li>
                              <li><a class="hvr-sweep-to-right" href="#">Aux alentours</a></li>
                              <li><a class="hvr-sweep-to-right" href="#">Livre d'Or</a></li>
                              <li><a class="hvr-sweep-to-right" href="#">Nous contacter</a></li>
                              <button type="submit" class="btn btn-default btn-lg">Réserver</button>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </nav>
  <!--SLIDE HOME-->
  <div  id="homeDemeure"  class="container-fluid">
    <div class="row">
<div class="col-lg-12 text-justify">
  <div class="col-lg-9">
    <h3 id="title" >La Demeure de l'Arche</h3>
    <p style="font-size:16px;">Située dans le Gard, tout près d’Ales « la porte des Cévennes », la Demeure de l’Arche vous accueille dans ses chambres d’hôtes et ses suites de charme uniques. Sa décoration soignée est un savant mélange d’inspirations à la fois modernes et traditionnelles. Chaque habitation possède une terrasse privée avec vue sur le parc, les Cévennes ou le château de Montmoirac.
      </br>Vous pourrez nager (piscine exceptionnelle de 25mX10m avec cuisine d’été, salle de bain et WC), jouer au tennis, au ping-pong ou à la pétanque et profiter d’autres activités au milieu de son parc arboré de deux hectares.</p>
</div>
<div id="homeGeographie" class="col-lg-3"></div>
</div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>Chambres à la Nuit</h3>
            <p>.Toute l’année, profitez de nos chambres d’hôtes pour une ou plusieurs nuits dans le meilleur confort, et un service de qualité</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>Forfait Week-end</h3>
            <p>Vous pouvez louer votre chambre ou votre suite le temps d’un agréable week-end, qui vous permettra de découvrir une région touristique riche en surprises.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>Longs séjours</h3>
            <p>Nous proposons également des tarifs préférentiels pour vos longs séjours, afin d’apprécier au mieux la Demeure de l’Arche, un lieu idéal pour vos vacances.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3>Evénements familiaux ou d’entreprise:</h3>
            <p>Mariages, anniversaires, fêtes privées: réunissez vos proches dans un lieu rien qu’à vous le temps d’une soirée ou d’un week-end.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--COMMENTAIRES-->
<div class="container-fluid">
<div class="row">
<div class="col-md-6">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div id="commentaires"  class="carousel-inner" role="listbox">
    <div class="item active">
      <p style="font-size:24px;">Commentaires 1</p>
    </div>
    <div class="item">
      <p style="font-size:24px;">Commentaires 2</p>
    </div>
    <div class="item">
      <p style="font-size:24px;">Commentaires 3</p>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
<div class="col-md-6">
</div>
</div>
</div>  <!--FIN COMMENTAIRES-->

  <!--barre de reservation-->
  <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
          </div>
          <!-- BARRE de RESERVATIOn UNIQUEMENT DANS LA HOME-->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
              <form class="form-inline">
                  <div class="form-group">
                      <label for="exampleInputDate">Arrivée</label>
                      <input type="date" class="form-control" id="exampleInputDate" placeholder="Date">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputDate2">Départ</label>
                      <input type="date" class="form-control" id="exampleInputDate2" placeholder="Date">
                  </div>
                  <div class="form-group">
                      <label for="exampleInputList">Séjour</label>
                      <select id=formSejour>
          <optgroup label="Chambres">
            <option value=ChambreAzur>Chambre Azur</option>
              <option value=ChambreRomance>Chambre Romance</option>
          </optgroup>
          <optgroup label="Suite">
            <option value=SuiteRenoir>SuiteRenoir</option>
              <option value=SuiteZen>Suite Zen</option>
          </optgroup>
              <option value=Appart>L'Appart</option>
          </optgroup>
        </select>
                  </div>
                  <div id="formNumber" class="form-group">
                      <label for="exampleInputNumber">Adulte(s)</label>
                      <input type="number" class="form-control" id="exampleInputNumber" placeholder="Nbr">
                  </div>
                  <div id="formNumber" class="form-group">
                      <label for="exampleInputNumber2">Enfant(s)</label>
                      <input type="number" class="form-control" id="exampleInputNumber" placeholder="Nbr">
                  </div>
                  <button type="submit" class="btn btn-default btn-lg">Réserver</button>
              </form>
          </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
  </nav><!-- /.fin barre de reservation -->

<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/cbpHorizontalMenu.min.js"></script>
<script>
    jQuery(document).ready(function() {
        $(function() {
            cbpHorizontalMenu.init();
        });
    });
</script>
</body>

</html>
