doctype html

html(lang='en')
  head
    include ./head
  body
    include ./header
    block content
<<<<<<< HEAD
    include ./slide
    //- include ./home
=======
     include ./slide
     include ./home
>>>>>>> 201a6176715c7e61df593b253c17711a2cdd9d43
    //block content
    include ./module
    //- block content
    include ./sejours
    include ./footer
