doctype html

html(lang='en')
  head
    include ./head
  body
    include ./header
    block content
    include ./home
    block content
    include ./module
    block content
    include ./footer
    block content
    
