doctype html

html(lang='en')
  head
    include ./head
  body
    include ./header
    block content
    //- include ./home
    include ./slide
    include ./home
    include ./module
    //- block content
    include ./sejours
    include ./footer
