html(lang='en')
  head
    include ./head
  body
    include ./header
    block content

    //- include ./home
    include ./slide
    include ./home
    include ./module
    //- block content
<<<<<<< HEAD
    include ./demeure
    include ./sejours
    include ./tourisme
    include ./contact
    include ./livre
    include ./reservation
=======
    //- include ./demeure
    //- include ./sejours
    //- include ./tourisme
    //- include ./contact
    //- include ./livre
    //- include ./reservation
>>>>>>> 1fcdd83dd08b22cadc82220621809603bdab4ff8
    include ./footer
