html(lang='en')
  head
    include ./head
  body
    include ./header
    block content

    //- include ./home
    include ./slide
    include ./home
    include ./module
    
    //- block content
    //- include ./demeure
    //- include ./sejours
    //- include ./tourisme
    //- include ./contact
    //- include ./livre
    //- include ./reservation
    include ./footer
