doctype html
<<<<<<< HEAD
html
  head
      include ./head
  body

      include ./header
      block content
      include ./footer
=======
html(lang='en')
  head
    include ./head
  body 
    include ./footer
>>>>>>> cdeccd057b4d1a8400d02a11a7ff85ed60a38d94
