head
  include ./head
h1.col-sm-offset-5 INSCRIPTION
hr
form.form-horizontal(action='/inscription', method='post')
  .form-group
    label.col-sm-2.control-label(for="inputEmail3")
    |     
    .col-sm-10
      input.form-control(type="text", name="firstname", placeholder="Prénom")
  |   
  .form-group
    label.col-sm-2.control-label(for="inputEmail3")
    |     
    .col-sm-10
      input#inputEmail3.form-control(type="text", name="lastname",placeholder="Nom")
  |   
  .form-group(class=typeof error === "undefined" ? "" : "has-error has-feedback")
    label.col-sm-2.control-label(for="inputEmail3")
    |     
    .col-sm-10
      input#inputEmail3.form-control(type="email", name="email", placeholder="Email")
      span.glyphicon.glyphicon-remove.form-control-feedback(aria-hidden="true")  
      .has-error
        p.has-error!= error
  |   
  .form-group
    label.col-sm-2.control-label(for="inputPassword3")
    |     
    .col-sm-10
      input#inputPassword3.form-control(type="password", name="Mot de passe", placeholder="Password")
  |   
  .form-group
    .col-sm-offset-2.col-sm-10
      .checkbox
        label
          input(type="checkbox")
          |  Remember me
  |   
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-default(type="submit") Inscription

h4.col-sm-offset-2 Vous avez deja un compte ?     
 a.btn.btn-success(href="connexion", role="button") Connexion
 
 
include ./footer
