doctype html

html(lang='en')
    head
        include ./head
livre
    |     
    title Livre d'or
    |   
    body
        include ./header
    .container
        h2#livre Livre d'or
        form(action='/envoi', method='post')
            .row
                .col-xs-5
                    .form-group
                        label(for='sleep') Votre réservation
                        select#sleep.form-control.FORM(name='reservation')
                            option Chambre Azur
                            option Chambre Romance
                            option Suite Renoir
                            option Suite Zen
                            option L'appartement
                #stars.col-xs-7
                    fieldset#rating.rating
                        input#star5(type='radio', name='etoiles', value='5')
                        label.full(for='star5', title='Parfait !')
                        input#star4half(type='radio', name='etoiles', value='4.5')
                        label.half(for='star4half', title='Très sympa !')
                        input#star4(type='radio', name='etoiles', value='4')
                        label.full(for='star4', title='Sympa !')
                        input#star3half(type='radio', name='etoiles', value='3.5')
                        label.half(for='star3half', title='Pas mal !')
                        input#star3(type='radio', name='etoiles', value='3')
                        label.full(for='star3', title='Moyen plus')
                        input#star2half(type='radio', name='etoiles', value='2.5')
                        label.half(for='star2half', title='Moyen')
                        input#star2(type='radio', name='etoiles', value='2')
                        label.full(for='star2', title='Boarf')
                        input#star1half(type='radio', name='etoiles', value='1.5')
                        label.half(for='star1half', title='Assez décevant')
                        input#star1(type='radio', name='etoiles', value='1')
                        label.full(for='star1', title='Vraiment décevant')
                        input#starhalf(type='radio', name='etoiles', value='0.5')
                        label.half(for='starhalf', title='Lamentable')
            .form-group
                .row
                    .col-xs-7
                        label(for='comment') Commentaire
                        textarea#comment.form-control.FORM(rows='5' name='commentaire' placeholder='Votre commentaire...')
                    .col-xs-5
                input.btn.btn-default.btn-lg.send(type='submit', value='Envoyer')

            each livre in livres

                h3!= livre.reservation
                p!= livre.etoiles
                p!= livre.commentaire
                hr

include ./footer
