head
  include ./head
  include ./header
  body(style="margin-top: 350px")
    .container
        h2#livre Livre d'or
        form(action='/livre', method='post')
          .form-group
            .row
                .col-xs-5
                    .form-group
                        label(for='sleep') Votre réservation
                        select#sleep.form-control.FORM(name='reservation')
                          option Chambre Azur
                          option Chambre Romance
                          option Suite Renoir
                          option Suite Zen
                          option L'appartement
                #stars.col-xs-7
                    fieldset.rating
                      input#star-5.inputStar.inputStar-5(type='radio', value='5', name='star')
                      label.labelStar.star-5(for='star-5')
                      input#star-4.inputStar.star-4(type='radio', value='4',name='star')
                      label.labelStar.star-4(for='star-4')
                      input#star-3.inputStar.star-3(type='radio', value='3',name='star')
                      label.labelStar.star-3(for='star-3')
                      input#star-2.inputStar.star-2(type='radio', value='2',name='star')
                      label.labelStar.star-2(for='star-2')
                      input#star-1.inputStar.star-1(type='radio', value='1',name='star')
                      label.labelStar.star-1(for='star-1')
          .form-group
            .row
              .col-xs-7
                  label(for='comment') Commentaire
                  textarea#comment.form-control.FORM(rows='5' name='commentaire' placeholder='Votre commentaire...')
              .col-xs-5
            input.btn.btn-primary.btn-lg.send.pull-right(type='submit', value='Envoyer')
        br
        br
        br
        br
        br
        br    
        hr    
        each livre in livres
          .list-group
            a.list-group-item
              h4.list-group-item-heading= livre.reservation
                - for(i=1 ; i<=livre.etoiles;i++)
                  &nbsp;
                  span
                    i.fa.fa-star.starColor(aria-hidden="true")
              p.list-group-item-text= livre.commentaire


include ./footer
