<DOCTYPE html>
<html (lang="fr")>

  <head>
    <title>Module</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/modules.css">
    <link rel="stylesheet" href="../public/css/set1.css">
  </head>

  <body>
    <div class="container">

      <div class="row">

        <div class="col-lg-5 col-sm-12 col-xs-12 grid b1">

          <figure class="effect-chico">
            <img src="../public/images/ESCALIERSm.jpg" alt="bienvenue" class="img-responsive"/>
            <figcaption>
          		<h2>LA <span>DEMEURE</span></h2>
          		<p>Petit tour d'ensemble</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>

          </div>

        <div class="col-lg-7 col-sm-12 col-xs-12 grid b2">

        	<figure class="effect-chico">
        		<img src="../public/images/SEJOURp.jpg" alt="arche" class="img-responsive"/>
        		<figcaption>
        			<h2>NOS <span>SEJOURS</span></h2>
        			<p>Un havre de paix et de tranquillité</p>
        			<a href="#">View more</a>
        		</figcaption>
        	</figure>

        </div>

      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-12 col-xs-12 grid b3">

          <figure class="effect-chico">
            <img src="../public/images/LIVREp.jpg" alt="confort" class="img-responsive"/>
            <figcaption>
              <h2>LIVRE <span>D'OR</span></h2>
              <p>N'hésitez pas à nous donner votre ressenti</p>
              <a href="#">View more</a>
            </figcaption>
          </figure>

          </div>

        <div class="col-lg-5 col-sm-12 col-xs-12 grid b4">

        <figure class="effect-chico">
          <img src="../public/images/ALENTOURSp.jpg" alt="piscine" class="img-responsive" />
          <figcaption>
            <h2>AUX <span>ALENTOURS</span></h2>
            <p>Un cadre sublime et chargé d'histoire</p>
            <a href="#">View more</a>
          </figcaption>
        </figure>

        </div>

        <div class="col-lg-4 col-sm-12 col-xs-12 grid b5">

        <figure class="effect-chico">
          <img src="../public/images/CONTACT.jpg" alt="contact" class="img-responsive" />
          <figcaption>
            <h2>NOUS <span>CONTACTER</span></h2>
            <p>Pour tout renseignement</p>
            <a href="#">View more</a>
          </figcaption>
        </figure>

        </div>

    </div>

  </div>


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.min.js"></script>
  </body>

</html>
