module
  .container.box
        .row
          .col-lg-5.col-sm-12.col-xs-12.grid.bloc
            figure.effect-chico
              img.img-responsive(src='img/modules/ESCALIERSm.jpg', alt='bienvenue')
              figcaption
                h2
                  | LA 
                  span DEMEURE
                p Petit tour d'ensemble
                a(href='demeure') View more
          .col-lg-7.col-sm-12.col-xs-12.grid.bloc
            figure.effect-chico
              img.img-responsive(src='img/modules/SEJOURp.jpg', alt='arche')
              figcaption
                h2
                  | NOS 
                  span SEJOURS
                p Un havre de paix et de tranquillité
                a(href='sejours') View more
        .row
          .col-lg-3.col-sm-12.col-xs-12.grid.bloc
            figure.effect-chico
              img.img-responsive(src='img/modules/LIVREp.jpg', alt='confort')
              figcaption
                h2
                  | LIVRE 
                  span D'OR
                p N'hésitez pas à nous donner votre ressenti
                a(href='livre') View more
          .col-lg-5.col-sm-12.col-xs-12.grid.bloc
            figure.effect-chico
              img.img-responsive(src='img/modules/ALENTOURSp.jpg', alt='piscine')
              figcaption
                h2
                  | AUX 
                  span ALENTOURS
                p Un cadre sublime et chargé d'histoire
                a(href='tourisme') View more
          .col-lg-4.col-sm-12.col-xs-12.grid.bloc
            figure.effect-chico
              img.img-responsive(src='img/modules/CONTACT.jpg', alt='contact')
              figcaption
                h2
                  | NOUS 
                  span CONTACTER
                p Pour tout renseignement
                a(href='contact') View more
      script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/jade/1.11.0/jade.min.js')
