//- 
//- doctype html
//- 
//- html(lang='en')
//-   head
//-     include ./head
//- reservation
//-   |     
//-   title Les sejours
//-   |   
//-   body
//-   
//-     include ./header
//- 
//-     br
//-     |     
//-     br
//-     |     
//-     form
//-       h1 Formulaire de paiement
//-       |  
//-       p
//-         | Les champs obligatoires sont suivis d&apos;un 
//-         strong
//-           abbr(title='obligatoire')
//-         | .
//-       |   
//-       section
//-         h2 Information de contact
//-         |     
//-         fieldset
//-           legend Titre
//-           |       
//-           ul
//-             li
//-               label(for='titre_1')
//-                 input#titre_1(type='radio', name='title', value='M.')
//-                 |             Monsieur
//-             |         
//-             li
//-               label(for='titre_2')
//-                 input#titre_2(type='radio', name='title', value='Mme')
//-                 |             Madame
//-         |     
//-         p
//-           label(for='nom')
//-             span Nom : 
//-             |         
//-             input#nom(type='text', name='nomdutilisateur', required='')
//-             |         
//-             strong
//-               abbr(title='obligatoire')
//-         |  
//-         p
//-           label(for='courriel')
//-             span Courriel : 
//-             |  
//-             input#courriel(type='email', name='courrielutilisateur', required='')
//-             |  
//-             strong
//-               abbr(title='obligatoire')
//-       |   
//-       section
//-         h2 Information de paiement
//-         |     
//-         p
//-           label(for='carte')
//-             span Type de carte :
//-             |         
//-             select#carte(name='carteutilisateur')
//-               option(value='visa') Visa
//-               |           
//-               option(value='mc') Mastercard
//-               |           
//-               option(value='amex') American Express
//-         |     
//-         p
//-           label(for='numero')
//-             span Num&eacute;ro de la carte :
//-             |         
//-             input#numero(type='text', name='numerocarte', required='')
//-             |         
//-             strong
//-               abbr(title='obligatoire')
//-         |  
//-         p
//-           label(for='date')
//-             span Date d&apos;expiration :
//-             |  
//-             input#date(type='text', name='expiration', required='')
//-             |  
//-             strong
//-               abbr(title='obligatoire') *
//-             |  
//-             em formatt&eacute; comme mm/aa
//-       |  
//-       section
//-         p
//-           button Valider le paiement
//-  
//-     include ./footer

head
  include ./head
  include ./header
.container
  .row
    section
      .wizard
        .wizard-inner
          .connecting-line
          |                 
          ul.nav.nav-tabs(role="tablist")
            li.active(role="presentation")
              a(href="#step1", data-toggle="tab", aria-controls="step1", role="tab", title="Step 1")
                span.round-tab
                  i.glyphicon.glyphicon-folder-open
            |                     
            li.disabled(role="presentation")
              a(href="#step2", data-toggle="tab", aria-controls="step2", role="tab", title="Step 2")
                span.round-tab
                  i.glyphicon.glyphicon-pencil
            |                     
            li.disabled(role="presentation")
              a(href="#step3", data-toggle="tab", aria-controls="step3", role="tab", title="Step 3")
                span.round-tab
                  i.glyphicon.glyphicon-picture
            |                     
            li.disabled(role="presentation")
              a(href="#complete", data-toggle="tab", aria-controls="complete", role="tab", title="Complete")
                span.round-tab
                  i.glyphicon.glyphicon-ok
        |             
        form(role="form")
          .tab-content
            #step1.tab-pane.active(role="tabpanel")
              h3 Formulaire
              |                         
              p Etape 1 entrer des coordonnée pour validé 
              |                         
              form.form-horizontal
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Prénom
                  |                         
                  .col-sm-10
                    input.form-control(type="FirstName", placeholder="First name")
                |                       
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Nom
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="LastName", placeholder="Last name")
                |                       
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Email
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="email", placeholder="Email")
                //- ADRESSSE DEBUT
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") ADRESSE
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="email", placeholder="Email")
                |                       
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Code Postal
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="LastName", placeholder="Last name")
                |                       
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Ville
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="LastName", placeholder="Last name")
                |                       
                |                       
                .form-group
                  label#inputSuccess2.col-sm-2.control-label(for="inputEmail3") Tel
                  |                         
                  .col-sm-10
                    input#inputEmail3.form-control(type="email", placeholder="Email")
                //-  ADRESSE FIN
              |                         
              ul.list-inline.pull-right
                li
                  button.btn.btn-primary.next-step(type="button") Suivant
            //- RECAPITULATIF COMMANDE DEBUT
            #step2.tab-pane(role="tabpanel")
              h3 Recapitulatif
              |                         
              p Votre reservation et dates selectionner
              |                         
              ul.list-inline.pull-right
                li
                  button.btn.btn-default.prev-step(type="button") Retour
                |                             
                li
                  button.btn.btn-primary.next-step(type="button") Suivant
            //- RECAPITULATIF COMMANDE FIN
            //- PAIMENT DEBUT
            #step3.tab-pane(role="tabpanel")
              h3 Paiement
              |                         
              p Veuillez choisir l'un des moyen de piment suivant.
              |                         
              ul.list-inline.pull-right
                li
                  button.btn.btn-default.prev-step(type="button") Retour
                //-  <li><button type="button" class="btn btn-default next-step"></button></li>
                li
                  button.btn.btn-primary.btn-info-full.next-step(type="button") Suivant
            //- PAIMENT FIN
            #complete.tab-pane(role="tabpanel")
              center
                h3 Merci !
                |                         
                p
                  | Votre reservation a bien été pris en compte,
                  br
                  | vous allez etre rediriger vers le site de la Demeure de l'Arche.
            |                     
            .clearfix
include ./footer
