head
  include ./head
  include ./header
body
  .container
    .row
    #_wbord_
      a(href='http://fr.zak.wubook.net', style='display: block; margin-top: 5px; text-decoration:none;border:none', target='_blank')
        img(src='', alt="", title='WuBook', style='border:none;text-decoration:none')

script.
  $(document).ready(function(){
  var WuBook= new _WuBook(1484648741);
  var wbparams= {
  bordercolor: '#999966',
  lang: '',
  buttoncolor: '#9d2501',
  failback_lang: 'fr',
  wbgoogle: 1,
  leisure: 1,
  bgcolor: '#ffffff',
  dcodeval: '',
  iconcolor: '#888888',
  textcolor: '#2c2c2c',
  default_nights: 1
  };
  WuBook.design_rwidget("_wbord_", wbparams);
  });

include ./footer
