slide
  header#myCarousel.carousel.slide
  	ol.carousel-indicators
  		li.active(data-target='#myCarousel', data-slide-to='0')
  		|             
  		li(data-target='#myCarousel', data-slide-to='1')
  		|             
  		li(data-target='#myCarousel', data-slide-to='2')
  		|             
  		li(data-target='#myCarousel', data-slide-to='3')
  	|         
  	.carousel-inner
  		.item.active
  			.fill(style="background-image:url('../public/img/demeure/ARCHE.jpg');")
  			|                 
  			.carousel-caption
  		|             
  		.item
  			.fill(style="background-image:url('../public/img/demeure/piscine.jpg');")
  			|                 
  			.carousel-caption
  		|             
  		.item
  			.fill(style="background-image:url('../public/img/demeure/entree.jpg');")
  			|                 
  			.carousel-caption
  		|             
  		.item
  			.fill(style="background-image:url('../public/img/demeure/home4.jpg');")
  			|                 
  			.carousel-caption
  				h2 Caption 3
  	|     
  	script(src='js/bootstrap.min.js')

  	// Script to Activate the Carousel
  	script.
  		$('.carousel').carousel({
  		interval: 5000 //changes the speed
  		})
