slide
header#myCarousel.carousel.slide
   ol.carousel-indicators
     li.active(data-target='#myCarousel', data-slide-to='0')
     |             
     li(data-target='#myCarousel', data-slide-to='1')
     |             
     li(data-target='#myCarousel', data-slide-to='2')
     |             
     li(data-target='#myCarousel', data-slide-to='3')
   |         
   .carousel-inner
     each image, i in images.urls
       if i == 0
         .item.active
           .fill(style="background-image:url('"+image.url+"');")               
       else 
         .item
           .fill(style="background-image:url('"+image.url+"');")               
    .carousel-caption
script.
  $('.carousel').carousel({
    interval: 4000 //changes the speed
  });
