doctype html

html(lang='en')
  head
  include ./head 
tourisme
  |     
  title Aux alentours
  body(style='background-color:#fcfcfc;!important;')
    include ./header
    #pageTourisme.container
      .row
        // row1
        .col-sm-6.col-md-4
          #titleTourisme.thumbnail
            h3
              | Al&egrave;s et sa r&eacute;gion sont riches de sites &agrave; d&eacute;couvrir.
              br
              | Entre nature et histoire, visitez les plus beaux lieux autour de la Demeure de l&rsquo;Arche.
        |       
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.bambouseraie.com/', target='_blank')
              img(src='img/tourisme/bambouserie.png', alt='...')
              |           
              .caption
                h3 La Bambouseraie
                |             
                p Parcourez la c&eacute;l&egrave;bre bambouseraie d&rsquo;Anduze. Un jardin exotique unique en Europe!
                |             
                p
                  a.btn.btn-warning(href='http://www.bambouseraie.com/', target='_blank', role='button') Site officiel
        |       
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.cevennesgrandsud.cool/', target='_blank')
              img(src='img/tourisme/Vezenobres.jpg', alt='...')
              |           
              .caption
                h3 V&eacute;z&eacute;nobres
                |             
                p Visitez un des plus beaux villages historiques du Gard, et sa cit&eacute; m&eacute;di&eacute;vale.
                |             
                p
                  a.btn.btn-warning(href='http://www.cevennesgrandsud.cool/', target='_blank', role='button') Site officiel
      // row1
      .row
        // row2
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.lagrandemotte.com/', target='_blank')
              img(src='img/tourisme/lagrandemotte.jpg', alt='...')
              |           
              .caption
                h3 La Grande Motte
                |             
                p Admirez les plus belles plages du Languedoc-Roussillon!
                |             
                p
                  a.btn.btn-warning(href='http://www.lagrandemotte.com/', target='_blank', role='button') Site officiel
        |       
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.ot-nimes.fr/', target='_blank')
              img(src='img/tourisme/nimes-photo01.jpg', alt='...')
              |           
              .caption
                h3 N&icirc;mes
                |             
                p
                  | La ville de N&icirc;mes rec&egrave;le de monuments antiques. Ne manquez pas non plus ses c&eacute;l&egrave;bres ferias.
                |             
                p
                  a.btn.btn-warning(href='http://www.ot-nimes.fr/', target='_blank', role='button') Site officiel
        |       
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.grotte-de-trabuc.com/fr/', target='_blank')
              img(src='img/tourisme/grottes.png', alt='...')
              |           
              .caption
                h3 La Grotte de Trabuc
                |             
                p Une des plus belles cavit&eacute;s des C&eacute;vennes, dans les pas de la Pr&eacute;histoire.
                |             
                p
                  a.btn.btn-warning(href='http://www.grotte-de-trabuc.com/fr/', target='_blank', role='button') Site officiel
      // row2
      .row
        // row3
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.museeharibo.fr/fr/', target='_blank')
              img(src='img/tourisme/musee_bonbon.jpg', alt='...')
              |           
              .caption
                h3 Le mus&eacute;e du Bonbon
                |             
                p Pour tout savoir sur la fabrication du Bonbon Haribo, tout en se r&eacute;galant.
                |             
                p
                  a.btn.btn-warning(href='http://www.museeharibo.fr/fr/', target='_blank', role='button') Site officiel
        // row
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.trainavapeur.com/', target='_blank')
              img(src='img/tourisme/train.jpg', alt='...')
              |         
              .caption
                h3 Le train &agrave; vapeur des C&eacute;vennes
                |           
                p
                  | Un voyage &agrave; travers un paysage montagneux, passant sur diff&eacute;rents viaducs, ainsi qu&rsquo;un arr&ecirc;t &agrave; la Bambouseraie.
                |           
                p
                  a.btn.btn-warning(href='http://www.trainavapeur.com/', target='_blank', role='button') Site officiel
        // row
        .col-sm-6.col-md-4
          .thumbnail
            a(href='http://www.camellia.fr/accueil-1-0-0', target='_blank')
              img(src='img/tourisme/camelia.png', alt='...')
              |         
              .caption
                h3 Les Camellias de la prairie
                |           
                p Un magnifique parc consacr&eacute; aux Camellias, qui comprend plus de 200 vari&eacute;t&eacute;s.
                |           
                p
                  a.btn.btn-warning(href='http://www.camellia.fr/accueil-1-0-0', target='_blank', role='button') Site officiel
                
include ./footer
    // FIN TOURISME
  
