<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Case</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
      <link rel="stylesheet" href="../public/css/navbar_megamenu2.css">
        <link rel="stylesheet" href="../public/css/tourisme.css">
        <script src="../public/js/AnimOnScroll.js"></script>

    <!-- Bootstrap -->
    <link rel="shortcut icon" href="fonts/ico/favicon.png">
    <link href="../public/fonts/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>

<body>
  <!--TOURISME-->
<div id="pageTourisme" class="container">
  <div class="row"><!--row1-->
    <div  class="col-sm-6 col-md-4">
      <div id="titleTourisme"  class="thumbnail">
        <h3 > Alès et sa région sont riches de sites à découvrir.</br>Entre nature et histoire, visitez les plus beaux lieux autour de la Demeure de l’Arche.</h3>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.bambouseraie.com/"  target="_blank">
          <img src="../public/img/tourisme/bambouserie.png"  alt="...">
        <div class="caption">
          <h3>La Bambouseraie</h3>
          <p>Parcourez la célèbre bambouseraie d’Anduze. Un jardin exotique unique en Europe!</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div></a>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.cevennesgrandsud.cool/"  target="_blank" >
          <img src="../public/img/tourisme/Vezenobres.jpg" alt="...">
        <div class="caption">
          <h3>Vénénobres</h3>
          <p>Visitez un des plus beaux villages historiques du Gard, et sa cité médiévale.</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div>
      </a>
      </div>
    </div>
</div><!--row1-->

<div class="row"><!--row2-->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.lagrandemotte.com/"   target="_blank">
          <img src="../public/img/tourisme/lagrandemotte.jpg" alt="...">
        <div class="caption">
          <h3>La Grande Motte</h3>
          <p>Admirez les plus belles plages du Languedoc-Roussillon!</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div>
      </a>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.ot-nimes.fr/" target="_blank" >
          <img src="../public/img/tourisme/nimes-photo01.jpg" alt="...">
        <div class="caption">
          <h3>Nîmes</h3>
          <p>La ville de Nîmes recèle de monuments antiques. Ne manquez pas non plus ses célèbres ferias.</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div>
      </a>
      </div>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.grotte-de-trabuc.com/fr/"  target="_blank" >
          <img src="../public/img/tourisme/grottes.png" alt="...">
        <div class="caption">
          <h3>La Grotte de Trabuc</h3>
          <p>Une des plus belles cavités des Cévennes, dans les pas de la Préhistoire.</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div>
      </a>
      </div>
    </div>
  </div><!--row2-->

<div class="row"><!--row3-->
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <a href="http://www.museeharibo.fr/fr/"  target="_blank">
          <img src="../public/img/tourisme/musee_bonbon.jpg" alt="...">
        <div class="caption">
          <h3>Le musée du Bonbon</h3>
          <p>Pour tout savoir sur la fabrication du Bonbon Haribo, tout en se régalant.</p>
          <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
        </div>
      </a>
      </div>
    </div><!--row-->


  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="http://www.trainavapeur.com/"  target="_blank">
        <img src="../public/img/tourisme/train.jpg" alt="...">
      <div class="caption">
        <h3>Le train à vapeur des Cévennes</h3>
        <p>Un voyage à travers un paysage montagneux, passant sur différents viaducs, ainsi qu’un arrêt à la Bambouseraie.</p>
        <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
      </div>
    </a>
    </div>
  </div><!--row-->

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="http://www.camellia.fr/accueil-1-0-0"  target="_blank">
        <img src="../public/img/tourisme/camelia.png" alt="...">
      <div class="caption">
        <h3>Les Camellias de la prairie</h3>
        <p>Un magnifique parc consacré aux Camellias, qui comprend plus de 200 variétés.</p>
        <p><a href="#" class="btn btn-primary" role="button">Site officiel</a></p>
      </div>
    </a>
    </div>
  </div>

</div><!--row3-->


</div>
<!--FIN TOURISME-->





<script src="../public/js/jquery.min.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/cbpHorizontalMenu.min.js"></script>

<script>
    jQuery(document).ready(function() {
        $(function() {
            cbpHorizontalMenu.init();
        });
    });
</script>
</body>

</html>
