/***********PARTIE INFO DEMEURE****************************************************************/
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');
/*******zone home demeure*****************************************/
#BGHomeDemeure{
background-color:#fcfcfc!important;
margin-bottom: 80px;
}
#homeDemeure{
padding-top: 70px;

}
#txthomeDemeure{
      padding-bottom: 20px;
      padding-left: 0px;
}
/*****GLIPH***********************/
#pictohomeDemeure{
text-align:center!important;
}
/****************************/
#txthomeDemeure h3{
  padding-top: 0px;
  margin-top: 0px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  font-size: 46px;
  color: #999966!important;
}
#txthomeDemeure p{
    font-size: 18px;
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
  }
/****************************/
#infohomeDemeure{
  padding-top: 20px;
}
#infoBlock{
    padding-top: 20px;
    padding-bottom: 20px;
}
#infoBlock h3{
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  font-size: 24px;
  color: #9d2501;!important;
  text-align: center;
}
#infoBlock p{
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-align: justify;
}
#homeGeographie{
    background-color:#c9ca9e!important;
    margin-bottom: 20px;
    padding: 10px;

  }
#homeGeographie p{
  padding-top: 10px;
  font-size: 16px;
  color: black!important;
  font-weight: 300;
  font-style: italic;
  font-family: 'Fira Sans', sans-serif;
  }
/***************************************************************************/
@media (max-width:980px) {

  #homeGeographie p{
      padding-top: 30px;
    font-size: 18px;
    line-height: 24px;

    }

}

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
    }
    .active{
      &.left{
        left:-33%;
      }
      &.right{
        left:33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
}
