fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}
.btn-primary {
    color: #fff;
    background-color: #999966;
    border-color: #999966;
}

.btn-primary:hover{
  background-color: #9d2501 ;
  border-color : #9d2501;
}

.starColor {
  color : #9d2501;
}


.inputStar{
  display: none;
}

.labelStar {
  float: right;
  padding: 10px;
  font-size: 36px;
  color: #999966;
  transition: all .2s;
}

.inputStar:checked ~ .labelStar:before {
  content:'\f005';
  color: #9d2501;
  transition: all .25s;
}


.inputStar-5:checked ~ .labelStar:before {
  color:#9d2501;
  text-shadow: 0 0 20px #9d2501;
}

.inputStar-1:checked ~ .labelStar:before {
  color: #9d2501;
}

.labelStar:hover{
  transform: rotate(-15deg) scale(1.3);
}

.labelStar:before{
  content:'\f006';
  font-family: FontAwesome;
}

.rev-box{
  overflow: hidden;
  height: 0;
  width: 100%;
  transition: all .25s;
}

.textareaReview{
  background: #222;
  border: none;
  width: 100%;
  max-width: 100%;
  height: 100px;
  padding: 10px;
  box-sizing: border-box;
  color: #EEE;
}

.labelReview{
  display: block;
  transition:opacity .25s;
}



.inputStar:checked ~ .rev-box{
  height: 125px;
  overflow: visible;
}
