@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700');
#logo{
background-color: white  !important;
padding-bottom: 20px;
 }
#logo h3{
font-size: 18px;
font-family: 'Fira Sans', 300, sans-serif;
margin-top: 0px;
text-align: center;
color:#999966 !important;
}
/**********************************************/


.navbar .navbar-nav {
display: inline-block;
float: none;
vertical-align: top;
border: none;
background-color: #999966!important;
}
.navbar .navbar-nav li a{
padding-top: 25px;
padding-bottom: 25px;
padding-left: 20px;
padding-right: 20px;
font-size: 18px;
font-family: 'Fira Sans', 300, sans-serif;
color:white!important;
}
.navbar .navbar-nav li a:hover{
background-color: #c9ca9e!important;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
color: #999966!important;
}
.navbar .navbar-nav li button{
padding-left: 10px;
padding-right: 10px;
margin-left: 10px;
font-size: 18px;
font-family: 'Fira Sans', 300, sans-serif;
background-color: #c9ca9e!important;
margin-top:7px;
}
.navbar .navbar-nav li button:hover{
background-color:#999966!important;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
}
.glyphicon-chevron-down{
margin-left: 20px;
font-size: 14px;
}
.glyphicon-home{
padding-left: 10px;
padding-right: 10px;}
.navbar .navbar-collapse {
text-align: center;
}
.dropdown-menu{
background-color: #c9ca9e!important;
width:100%;
float: left;
}
/**********************************************/
@media (max-width: 940px) {
.navbar .navbar-nav {
font-size: 16px;
}
.dropdown-menu li a{
}
.dropdown-menu li a:hover{
background-color: #c9ca9e!important;
}
}
