#_wbord_{
	margin-top : 100px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
		background-color: white;
}

.bordeau{
		background-color: #9d2501 !important;
	}
	.vert-clair-logo{
		background-color: #999966 !important;
	}
	.vert-foncé{
		background-color: #184a2d!important;
	}
	.reserver-button{
		background-color: #d7d7b9 !important;
	}
body {
  margin-top: 150px;
}
a.vert {
  background-color: #999966!important;
}

h1{
  font-size: 35px;
}
#bgChambre {
	padding-top: 90px;
}
/*Home Page Carousel */
html,
body {
    height: 100%;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;

}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: bottom;
    background-size: cover;
}
header.carousel .carousel {
    height: 70%;
}

/* partie chambres*/

/*******TABLEAU reservation************************************/
#tableau{
margin-left: auto;
margin-right: auto;
}
#intitule {
	margin-left:0px;
	margin-right:0px;
}
#colTab h4 {
	margin-left:0px;
	margin-right:0px;
	text-align: center;
	font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
  font-size: 22px;
	padding-bottom: 10px;
}
#colTab{
	margin-left:0px;
	margin-right:0px;
	padding-left: 0px;
	padding-right: 0px;
}
#colTabMarges{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#colTabMarges2{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}
.filet {
	margin-top: 15px;
	margin-bottom: 15px;
	border-top: 1px solid #999966 !important;
}
.booking{
		text-decoration: none;
		font-size: 18px;
		list-style: none;
		padding-left: 0px;
		padding-right: 0px;
		text-align: center;
		font-weight: 300;
		font-family: 'Fira Sans', sans-serif;
}

.booking li i{
}
.booking i{
	list-style: none;
	text-decoration: none;
	font-size: 18px !important;
  padding-right: 5px;
  color: #9d2501 !important;
}
.booking span{
	font-weight: 500;
	color:#9d2501;
	font-size: 24px;
}
.booking a img{
	max-width: 20%;
	height: auto;
}
.filet {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #999966!important;
}
/**********************************************************/
.vert {
color: #d7d7b9;
}
.contourBlanc{
	background-color: white;
}
section#reserver {
  background-color: #fcfcfc!important;
}

#chambreDescription h1 {
  color: #9d2501!important;
  text-align: left;
  margin-top: 30px;
}
h2#titreSejour {
  color: #9d2501!important;
}

#homeChambre.container-fluid {
  width: 80%;
  padding-top: 250px;
}
h2.explication1 {
  margin-bottom: 10px;
  font-size: 22px;
  line-height: 0.5;
  letter-spacing: -1px;
}
.description {
  padding-left: 50px;
  padding-bottom:  20px;
	font-weight: 300;
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}

img.img2 {
  max-width: 7%;
  height: auto;
}
#positionLogo.img2{
 width: 5%;
}
#positionLogo {
  display: inline-block;
  float: right;
 margin-right: 10px;
}

#carousel-example-generic {
  overflow: hidden;
  position: relative;
  top: 20px;
  margin:0 auto;
}
.positionCarrousel {
  position: relative;
  top: 80px;
  left: 25px;
}
.positionCarrousel2 {
  position: relative;
  top: 20px;
  left: 20px;
}
.positionCarrousel3 {
  position: relative;
  top: 70px;
  left: 25px;
}
.positionCarrousel4 {
  position: relative;
  top: 80px;
  left: 25px;
}
/* FOOTER DEBUT */
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');
/*******************************/
#footer{
  margin-top: 70px;
  background-color: #c9ca9e!important;
  padding-top: 20px;
  padding-bottom: 20px;
}
#box{
  background-color: #c9ca9e!important;
}
/**********col transport et services*********************************/
.footer-brand {
  padding-left: 10px;
  padding-right: 10px;
}
.footer-brand h3 {
  padding-left: 10px;
  padding-right: 10px;
  color:white!important;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}
.footer-brand p {
  font-size:16px;
  color: black!important;
}
/***********************/
.footer-reseaux{
  padding-left: 10px;
  padding-right: 10px;
}
.footer-reseaux ul{
padding-left: 0px;
}
.footer-reseaux ul li {
display: inline-block;
position: relative;
}
.footer-reseaux a{
font-size: 16px;
font-weight: 300;
font-family: 'Fira Sans', sans-serif;
text-decoration: none;
color: black!important;
}
.footer-reseaux a:hover{
  color: #999966!important;
}
/********************************************/
#socialFacebook{
  border-radius: 5px;
  background-color: white!important;
  padding-left: 5px;
  padding-right: 10px;
  margin-right: 20px;
}
#socialFacebook a img {
  margin:7px;
  width: 35px;
}
#socialFacebook img{
padding-right: 10px;
border-right: 1px solid  #999966!important;;
}

/********************************************/
#socialMail{
  margin-top: 0px;
  padding-top:0px;
  padding-right: 10px;
  padding-bottom: 10px;
}
#socialMail a img {
  width: 40px;
  margin-right: 20px;
  margin-left: 0px;
}
#IconPartenaire{
  border-radius: 5px;
  background-color: white!important;
  width: 180px;
  padding: 5px;
  margin-right: 20px;
}
/*********col menu************************/
.footer-nav{
  background-color: #c9ca9e!important;
  padding-left: 10px;
  padding-right: 10px;
}
.footer-nav h3{
  padding-left: 10px;
  padding-right: 10px;
  color:white!important;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif; }

.footer-nav ul.pages {list-style:none;}
.footer-nav ul.pages li { padding:5px 0px;}
.footer-nav ul.pages a { color:black; text-decoration:none; text-transform:uppercase; }
.footer-nav ul.pages a:hover { color: #999966; }

/*****balise HR valable pour le footer et la page sejours partie réservation*******************************/
hr {
    margin-top: 10px;
    margin-bottom: 15px;
    border-top: 1px solid #999966!important;
}
/********************************************************/
/*************footer-social****************************/
.footer-social{
  padding-left: 10px;
  padding-right: 10px;
  background-color: #c9ca9e!important;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
}
.footer-social h3{
  color:white!important;
  font-weight: 400!important;
  font-family: 'Fira Sans', sans-serif;
}
#googleMap{
  margin: 0px;
  padding: 0px;
}
#googleMap p{
  padding-top: 10px;
  padding-bottom: 20px;
  color:black!important;
  font-weight: 300!important;
  font-family: 'Fira Sans', sans-serif;
}
/***************************************/
.footer-mention{
  background-color: #c9ca9e!important;
  margin-left: auto;
  margin-right: auto;
}
.footer-mention ul{
text-align: center;
}
.footer-mention ul li{
display: inline-block;
position: relative;
}
.footer-mention li a{
text-decoration: none;
list-style: none;
margin-left: 10px;
margin-right: 10px;
color:black!important;
font-weight: 300!important;
font-family: 'Fira Sans', sans-serif;
}

/* FOOTER FIN */
/*******************************/
@media(max-width: 1024px){

}

/*******************************/

@media (max-width: 768px) {
	.booking span {
		font-size: 32px;
	}
	.filet {
		margin-top: 20px;
		margin-bottom: 30px;
		border-top: 14px solid #999966 !important;
		opacity:0.5;
	}
}
/*******************************/
