@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');
/*************************************/
#pageTourisme{
  padding-top:280px;
}
#titleTourisme {
  background-color:transparent;
  box-shadow: none;
  border: none;
}
#titleTourisme h3 {
  color:#9d2501!important;
  font-size: 28px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  line-height: 32px;
}
#lieuxTourisme {
  padding: 10px;
  background-color:white;
  box-shadow: none;
  border:none;
  border-color: #999966;
  color:#9d2501;
  font-size: 24px;
  font-weight: 300;
  font-family: 'Fira Sans', sans-serif;
  line-height: 32px;
}

#lieuxTourisme:hover{
  text-decoration: none;
  }

#lieuxTourisme a img{
  height: 150px;
}
#lieuxTourisme h3{
font-size: 24px;
line-height: 20px;
color: #999966!important;
font-family: 'Fira Sans', sans-serif;
}
#lieuxTourisme h3:hover{
text-decoration: none;
}
#lieuxTourisme p{
  text-decoration: none;
color: black;
font-size: 18px;
line-height: 20px;
}
#lieuxTourisme p:hover{
text-decoration: none;
}
.btn-warning{
background-color: #999966!important;
border: none;
}
.btn-warning:hover{
background-color: #9d2501!important;
-webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
}
.btn-warning:after{
background-color: #999966!important;
-webkit-transition-duration: 0.4s; /* Safari */
 transition-duration: 0.4s;
}
