@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i');
/*************************************/
#pageTourisme{
  padding-top:150px;
    font-family: 'Fira Sans', sans-serif;
}
#rowTourisme{}
/**********STYLE_texte********************/
#titleTourisme {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color:transparent;
  box-shadow: none;
  border: none;
}
#titleTourisme h3 {
  color:#9d2501!important;
  font-size: 28px;
  font-weight: 300;

}
/******STYLE**PAVE**********************/
#lieuxTourisme {
  background-color:white;
  padding: 10px;
  border-radius: 5px;
  box-shadow:0.8;
  border:none;
  padding-bottom: 20px;
  margin-top:20px;
  margin-bottom: 20px;
}
#lieuxTourisme a img{
  height: 150px;
  width:100%;
}
#lieuxTourisme h3{
font-size: 24px;
line-height: 26px;
font-weight: 400;
color: #999966!important;
}
#lieuxTourisme h5 {
  color:#9d2501!important;
  font-size: 16px;
  font-weight: 300;
  font-style: italic;
}
#lieuxTourisme p{
font-weight: 300;
color: black;
font-size: 18px;
line-height: 20px;
margin-bottom: 15px;
text-align: left;
}
/****button acces site**********/
#lieuxTourisme span {
}
#lieuxTourisme span a {
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  background-color: #999966!important;
  border: none;
  font-weight: 300;
}
#lieuxTourisme span a:hover{
  background-color: #eea236!important;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
}
/**************************************************/
@media (max-width:767px){
  #lieuxTourisme a img{
    height: 200px;
  }
}
